/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}
li{list-style-type: none;}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
.gerena{
  width:100%;
  height:230px;
  margin-top:-20px;
}
.gerenb{
  width:690px;
  height:230px;
  margin:0 auto;
}
.gerenb h2{
  margin-left:90px;
  margin-top:65px;
  font-size:30px;
  color:#3f3212;
}

.geren{
  width:690px;
  height:173px;
  float:left;
  margin-top:10px;
}
.geren li{
  width:260px;
  height:30px;
  float:left;
  color:#4e3e2f;
  margin-left:60px;
}
.jineng{
  width:690px;
  height:220px;
  margin:0 auto;
}
.jineng h2{
  margin-left:90px;
  font-size:30px;
  color:#3f3212;
}
.jinenga{
  margin-left:95px;
  line-height:20px;
  color:#4e3e2f;
}
.skill{
  width:100%;
  height:300px;
  margin-top:-46px;
}
.gong{
  width:100%;
  height:310px;
  margin-top:251px;
}
.jingli{
  width:690px;
  height:360px;
  margin:0 auto;
}
.jingli h2{
  margin-left:90px;
  font-size:30px;
  color:#3f3212;
}
.jingli li{
  width:690px;
  height:30px;
  float:left;
  margin-left:52px;
  line-height: 30px;
  color:#3f3212;
}
.jingli h3{
  margin-left:90px;
  margin-top:15px;
  float:left;
  color:#3f3212;
}
.jianli{
  width:100%;
  height:100px;
}
.jianlia{
  width:900px;
  height:100px;
  margin:0 auto;
}
.xiangmu{
  width:100%;
  height:251px;
}
.xiangmua{
  width:690px;
  height:460px;
  margin:0 auto;
}
.xiangmua h2{
   float:left;
  margin-top:25px;
  margin-left:90px;
  color:#3f3212;
  font-size:30px;
}
.xiangmub{
  width:560px;
  float:left;
  color:#3f3212;
  margin-left:90px;
}
.pingjia{
  width:100%;
  height:251px;
}
.pingjiaa{
  width:690px;
  height:251px;
  margin:0 auto;
  margin-top:450px;
}
.pingjiaa h2{
  margin-left:90px;
  font-size:30px;
  color:#3f3212;
}
.pingjiab{
  width:560px;
  height:50px;
  margin-left:90px;
  line-height: 30px;
  color:#3f3212;
}
.tupian{
  width:900px;
  height:100px;
  background-image: url("../images/c.jpg");
  background-size: 100% 100%;
}
.content{
  position: relative;
  width:900px;
  height:2460px;
  background: #d6bd95;
  margin:0 auto;
}
.content-l{
  position: relative;
   float:left;
   width:145px;
   height:751px;
   background-image: url("../images/d.jpg");
   background-size: 100% 100%;
   left:60px;
   top:180px;
 }
.content-ll{
  float:left;
  width:164px;
  height:220px;
  background-image: url("../images/aa.jpg");
  background-size: 100% 100%;
  margin-left:60px;
  position: absolute;
  left:-76px;
  top:-248px;
}
.content-lll{
  float:left;
  width:200px;
  height:220px;
  background-image: url("../images/zhao.jpg");
  background-size: 100% 100%;
  margin-left:60px;
  position: absolute;
  left:-76px;
}
.content-y{
  position: absolute;
  left:210px;
  top:0px;
  float:left;
  width:690px;
  height:2460px;
}
